* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px black; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}
#background-image {
  /* transform: translateX(100%); */
  position: absolute;
  top: 0;
  right: -25vw;
  /* background-size: cover; */
  width:125vw;
  height: auto;
  transition: transform 10s ease-in; /* Smooth scroll transition */
}

.animate{
  animation: fade 3.5s ;

}
.animate2{
  animation: fade 3s ;

}

 @keyframes fade {
  0% { opacity:0; }
  30% { opacity:1; }
  70% { opacity:1; }
  100% { opacity:0; }
} 
 @keyframes move {
  /* 0% { opacity:0; }
  30% { opacity:1; }
  70% { opacity:1; }
  100% { opacity:0; } */
  /* frim{

  } */
  to{
    transformX: -50px; 
  }


} 
 /* @keyframes mymove {
  0% { background: url('https://picsum.photos/1024/1024 no-repeat center center/cover'); }
50% { background-color:rgba(0, 0, 0, 0.5); }
51% {     background: url('https://picsum.photos/1024/1024 no-repeat center center/cover'); }
100% { background-color:rgba(0, 0, 0, 1); }
}  */
 
/* background-image{
  animation: fade 3s;

}  */


#fullscreen-button {
  padding: 20px 40px;
  background-color: white;
  color: black;
  border: solid 1px black;
  cursor: pointer;
  transition: all 0.5s;
  font-size: larger;
  
}

#fullscreen-button:hover {
  background-color: black; /* Change to your desired hover background color */
  color: white; /* Change to your desired hover text color */
  transform: scale(1.2); /* Add a slight scale effect on hover */
}
.removed{
/* opacity:0; */
display: none;
}