* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#background-image {
  position: absolute;
  top: 0;
  right: -25vw;
  width: 125vw;
  height: auto;
  transition: transform 10s ease-in; 
  z-index: -1;
}

#fullscreen-button {
  padding: 20px 40px;
  background-color: black; 
  color: white; 

  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: larger;
}

#fullscreen-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1); 
}
.removed {
  display: none !important;
}
h1 {
  font-size: 10rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
  padding: 0 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 

}
h2 {
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 

}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  color: white;
}
#loading-text {
  font-size: 24px;
  margin: 10px 0;
  color: #3c3c3c;
  z-index: -1;
}
#loader {
  z-index: -1;
}
